.detailView{
    padding-top: 1%;
}
.tableRowHeight{
    height: auto;
}
.lastRentPos{
    margin-bottom: 3vh;
}
.headerTable{
    text-align: left;
    font-family: "Montserrat";
    font-size: 15px;
    letter-spacing: -1px;
    
}
.infoTable{
    text-align: left;
    padding-top: 0.5vh;
    margin-bottom: 0.5vh;
}
.infoID{
    display: none;
}
.moreInfoCon{
    padding-top: 1%;
    background-color: rgb(250, 250, 250);
}
.addInfo{
    font-family: "Montserrat";
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}
.payingPc{
    display: none;
}
.rowSize{
    margin-top: 2vh;
}
.rowSize:hover{
    background-color: rgb(250, 250, 250);
}
.experienceTitle{
    height:9vh;
    font-family: "Montserrat";
    font-size: 22px;
    opacity: 0.8;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 3vh ;
    text-align: center;
    margin-bottom: 3vh;
 
}
.buttonInvoice{
    margin-top: 115%;
    text-align: center;
}
a.invoiceLink{
    font-family: "Montserrat";
    font-size: 17px;
    color:#fcc842;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    
}



@media (min-width:720px){
    .payingMobile{
        display: none;
    }
    .payingPc{
        display: block;
    }
    .paddingAddInfo{
        padding-left: 35%;
    }
    .addInfo{
        font-size: 16px;
        padding-top: 1%;
        padding-bottom: 2.5%;
    }
    .headerTable{
        font-size: 18px; 
    }
    .infoTable{
      font-size: 17px;
    }
    .buttonInvoice{
        margin-top: 62%;
    }
    .rowSize{
        margin-top: 1vh;
    }
    .lastRentPos{
        margin-bottom: 6vh;
    }
    .buttonInvoice{
        text-align: left;
    }
  
  }