
.listCar {
  margin-left: 5vw;
  color: #062039;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

.listHeaderCar {
  padding: 15px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px 6px 0px 0px;
  background-color: white;
  border-bottom: 1px solid #f3f4f5;
}


.listItemCar{
  height:90vh;
  width: 90vw;
  position: relative;
  cursor: pointer;
  transition: all 300ms;
  border-bottom: 1px solid #f3f4f5;

}
.listItemCar:before {
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  content: "";
  z-index: 2;
  transition: all 300ms;
}
.listItemCar:after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  content: "";
  z-index: 3;
  box-shadow: 0px 4px 8px 2px rgba(180, 188, 195, 0.71);
  opacity: 0;
  transition: all 300ms;
}
.listItemCar:hover:before {
  transform: scale(1.03);
  z-index: 4;
}
.listItemCar:hover:after {
  transform: scale(1.03);
  opacity: 1;
}

.listItemCar__inner {
  position: relative;
  z-index: 5;
}

.pictureChose{
  width: 94%;
  margin-left: 3%;
  height: 22vh;
  z-index: 4;
}
.responsiveChose{
  max-width: 80%;
  margin-top: 4%;
  margin-left: 10%;
}
.priceChose{
  width: 100%;
  height: 13vh;
  display: none;
}

.titleChose{
  min-width: 100%;
  height: 14vh;
  position: relative;
}
.titlePosChose{
  min-width: 95%;
  position:absolute;
  left:5%;
  bottom:0;

  font-family: "Montserrat";
  font-weight: 700;
  color:black;
  word-spacing: -1px;
  letter-spacing: -1px;
}

.BrandTagChose{
  font-size: 20px;

}
.modelTagChose{
  margin-top: -2vh;
  font-size: 26px;
  color:black;
  display: inline-block;
}
.priceTagTitle{
  margin-left: 15%;
  display: inline-block;
  width: 10%;
  font-size: 21px;
  text-align: center;
  color:#F7CA18;
}
.timeChose{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #787878;
}
.timePosChose{
  margin-left: 5%;
  width: 95%;
  height: auto;
  margin-top: 5vh;

}
.iconTimeChose{
  display: inline-block;
}
.fas{
  color: #fcc842;
  font-size: 21px;

}
.timeTextChose{
  display:inline-block;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -3px;
  margin-left: 3%;

}
.timeContentChose{
display: inline-block;
font-family: 'Montserrat';
font-size: 19px;
margin-left: 3%;
font-weight: 700;
letter-spacing: -2px
}

.hpChose{
  border-bottom: 1px solid #787878;
  height: 9vh;


}
.hpPosChose{
  margin-left: 5%;
  width: 95%;
  height: 8vh;
  padding-top:2vh;

}
.kwChose{
  border-bottom: 1px solid #787878;
  height: 7vh;
  margin-top: 1vh;
}
.kwPosChose{
  margin-left: 5%;
  width: 95%;
  height: 5vh;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 0;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 0px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.thar-three {
	color: #F7CA18;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
@media (min-width:770px){
  .listItemCar{
    height:25vh;
    margin-top: 1%;
    width: 50vw;
    background-color: #fcc842;
  }
 
  .listCar {
    position: relative;
    margin-left: 25%;
 
  }
  .pictureChose{
    width: 100%;
    height:auto;
  }
  .titleChose{
    min-width: 100%;
    height: 8vh;
    position: relative;
  }
  .titlePosChose{
    min-width: 95%;
    position:absolute;
    left:10%;
    bottom:0;
  }

  .priceTagTitle{
    display: none;
  }
  .timeChose{
    width: 100%;
    height: 6vh;
    border:none;

  }
  .timePosChose{
    margin-left: 20%;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .timeTextChose{
    display:inline-block;
    font-size: 19px;
    margin-left: 0;
  }
  .timeContentChose{
  display: block;
  font-size: 19px;
  margin-left: 45%;
  }

  .hpChose{
    border:0;
    height: 6vh;
  }
  .hpPosChose{
    margin-left: 0;
    width: 100%;
    height: 6vh;
    padding-top:0;
  }
  .kwChose{
    border-bottom:0;
    height: 6vh;
    margin-top:0;
  }
  .kwPosChose{
    margin-left: 5%;
    width: 100%;
    height: 6vh;
  }

}
