body{

    overflow-x: hidden;
}
.car1{
    width: 70%;
    margin-left: 15%;
    height: 80vh;
    position: relative;
    z-index: -2;
 
}
.gtText{
    
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gtTextContainer{
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 400px;

    color:#fcc842;
  
}
.gtText:hover{
    background-color: blue;
}
@media (max-width: 730px){
    .car1{
        width: 98%;
        margin-left: 1%;
        height: 60vh;
        background-color: red;
    }
}