.textLatest{
    margin-top:7vh;
    margin-bottom: 5vh;
}
a.linkLastest,a.linkLastest:hover,a.linkLastest:active,a.linkLastest:visited{
    color: black;
    text-decoration: none;
    
}
.marginLeftLatest{
    margin-left: 10%;
}
.picLastetSize{
    max-width: 100vw;
}
.responsiveLatest{
    max-width: 100%;
    height: auto;
}

.nameLastestSize{
    
    width: 100%;
    height: 10vh;
    font-family: "Montserrat";
    position: relative;
    font-weight: 700;
    color: black;
    word-spacing: -1px;
    letter-spacing: -1px;
}
.nameLastestBrand{
    padding-top:10px;
    width: 100%;
    height: 4vh;
    font-size: 22px;
}
.nameLastestModel{
    width: 100%;
    padding-bottom:30px;
    height: 5vh;
    font-size: 22px;
}
.priceLastestSize{
    width: 100%;
    height: 10vh;
    color:#fcc842;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    padding-top: 3vh;
    padding-left:1vw;
}
.stuffLastestSize{
    width: 100%;
    height:10vh;
    border-top: 1px solid gray;
}
.stuffLatestPos{
   width: 100%;
   height:8vh;
   margin-top: 2vh;
}
.iconTimeLatest,.iconTimeLatest,.iconHpLatest,.timeContentLatest,.iconWrapper{
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 17px;
    
}
.iconHpLatest,.iconTimeLatest,.iconTimeLatest{
    color:#fcc842;
}
.iconWrapper{
    margin-left:2vw;
}   
@media (min-width:720px){
    .nameLastestModel{
        width: 100%;
        height: 5vh;
        font-size: 19px;
    }
    .priceLastestSize{
        height: 7vh;
    }
    .nameLastestSize{
        height: 6vh;
    }
    .iconWrapper{
        margin-left:10px;
    }  
 }