{% load static  %}
<div class="petronasWrapper">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-2 col-md-2 d-flex justify-content-center align-self-center">
             <div class="carsList" data-slide="1">
                Mercedes-AMG GT
             </div>
          </div>
          <div class="col-lg-2 col-md-2 d-flex justify-content-center align-self-center">
             <div class="carsList" data-slide="2">
                Mercedes-AMG G Class
             </div>
          </div>
          <div class="col-lg-1 col-md-1 d-flex justify-content-center align-self-center">
            
                <div class="next-btn">
                    <span class="fa fa-angle-down"></span>
               
            </div>
          </div>
          <div class="col-lg-2 col-md-2 d-flex justify-content-center align-self-center">
            <div class="navPicPos">
                <img src="{% static "images/petronas.png" %}" class="navpic">
            </div>
          </div>
          <div class="col-lg-1 col-md-1 d-flex justify-content-center align-self-center">
            
                <div class="prev-btn">
                    <span class="fa fa-angle-up"></span>
                
            </div>
            
          </div>
          <div class="col-lg-2 col-md-2 d-flex justify-content-center align-self-center">
             <div class="carsList" data-slide="3">
                Mercedes C63 C Class
             </div>
          </div>
          <div class="col-lg-2 col-md-2 d-flex justify-content-center align-self-center">
             <div class="carsList " data-slide="4">
                Mercedes-AMG S Class
             </div>
          </div>
       </div>
    </div>
 </div>