
<div class="container-fluid linesBig">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
      <div class="col-4">
        <div class="textPc">Get in touch with us</div>
      </div>
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
    </div>
  </div>
  <div class="grid-container-footer">
    <div class="time">
      <div class="timeWrapperFooter">
        <div class="timePosFooter">
          <div class="dayDateFooter">
          Monday - Friday:
          </div>
          <div class="hoursFooter">
            8:00 - 20:00 (8 AM - 8 PM)
          </div>
          <div class="dayDateFooter">
             Saturday - Sunday:
          </div>
          <div class="hoursFooter">
            10:00 - 18:00 (10 AM - 6 PM)
          </div>
          <div class="timeZoneFooter">
             Central Europe Time Zone
          </div>
        </div>
        <div class="bordersFooterMobile"></div>
      </div>
  
    </div>
    <div class="terms">
      <div class="wrapperTermsFooter">
        <a href="#" class="termsLinkFooter">General Terms and Conditions</a>
      </div>
    </div>
    <div class="phone">
      <div class="wrapperPhoneFooter">
        <div class="phonesFooter">
          <div class="callFooter">Call Us</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">UK </div><div class="numberFooter"> +44 20 3885 0331</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">US </div><div class="numberFooter"> +1 646 995 5185</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">PL </div><div class="numberFooter"> +48 43 550 1723</div>
        </div>
      </div>
    </div>
    <div class="faq">
      <div class="faqTermsFooter">
        <a href="#" class="faqLinkFooter">Frequently Asked Questions</a>
      </div>
    </div>
    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
          United Kingdom Offices:
          </div>
          <div class="hoursFooter">
          221b Baker St. London
          </div>
          <div class="dayDateFooter">
            United States Offices:
          </div>
          <div class="hoursFooter">
            Sunset Boulevard 21/45
          </div>
          <div class="dayDateFooter">
            Republic of Poland Offices:
          </div>
          <div class="hoursFooter">
            Podwale 11 Lublin
          </div>
        </div>
      </div>
    </div>
    <div class="who">
      <div class="whoFooter">
        © Copyright <a href="https://winterodin.vcraft.pl/index.html " class="linkWinterFooter">WinterOdin</a> 2020 All rights reserved.
      </div>
    </div>
  </div>
