{% extends 'main.html' %} {% block content %}
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
<div class="car1">
    
    <div class="container">
        <div class="row">
        {% for x in data  %}
        <div class="col-sx-12 col-md-6 col-lg-6">
            <div class="galleryPictures">
                <div class="galleryPicturesPosition" style="background-image: url('/images/{{ x }}')">

                </div>
            </div>
        </div>
        {% endfor  %}
        </div>
    </div>
</div>


{% endblock  %}