{% load static  %}
<link rel="stylesheet" href="{% static '/css/gridGallery.css' %}">
<link rel="stylesheet" href="{% static '/css/gallery.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="containerGallery">
    <div class="grid-container-gallery">
        <div class="car1">
        <div class="car1_1">
            <div class="conPicture1">
                <img class="imgRespons" src="{% static 'images/2018GT.jpg' %}">
            </div>
        </div>
        <div class="car1_2">2</div>
        <div class="car1_3">3</div>
        <div class="car1_4">4</div>
        </div>
        <div class="car2">
        <div class="car2_1">5</div>
        <div class="car2_2">6</div>
        <div class="car2_3">7</div>
        <div class="car2_4">8</div>
        </div>
        <div class="car3">
        <div class="car3_1">11</div>
        <div class="car_2">2</div>
        <div class="car3_3"></div>
        <div class="car3_4"></div>
        </div>
        <div class="car4">
        <div class="car4_1"></div>
        <div class="car4_2"></div>
        <div class="car4_3"></div>
        <div class="car4_4"></div>
        </div>
    </div>
</div>
  