{% load static %}

<!DOCTYPE html>
<html>
<head>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/88703e40b7.js"></script>
	<script src="https://use.fontawesome.com/e3ec2c4683.js"></script>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AMG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static '/css/gridfooter.css' %}">
	<link rel="stylesheet" href="{% static '/css/grid.css'  %}">
	<link rel="stylesheet" href="{% static '/css/mainCarousel.css'  %}">
	<link rel="stylesheet" href="{% static '/css/carouselPic.css'  %}">
	<link rel="stylesheet" href="{% static '/css/login.css'  %}">
	<link rel="stylesheet" href="{% static '/css/register.css'  %}">
	<link rel="stylesheet" href="{% static '/css/gridLastest.css'  %}">
	<link rel="stylesheet" href="{% static '/css/latest.css'  %}">
	<link rel="stylesheet" href="{% static '/css/us.css'  %}">
	<link rel="stylesheet" href="{% static '/css/carPage.css'  %}">
	<link rel="stylesheet" href="{% static '/css/gridCustomer.css'  %}">
	<link rel="stylesheet" href="{% static '/css/customer.css'  %}">
	<link rel="stylesheet" href="{% static '/css/renting.css'  %}">
	<link rel="stylesheet" href="{% static '/css/confir.css'  %}">
	<link rel="stylesheet" href="{% static '/css/stripe.css'  %}">
	<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
	<link rel="stylesheet" href="{% static '/css/footer.css' %}">
	<link rel="stylesheet" href="{% static '/css/carTable.css' %}">
	<link rel="stylesheet" href="{% static '/css/gallery.css' %}">
	<link rel="stylesheet" href="{% static '/css/galleryGrdid.css' %}">
	<link rel="stylesheet" href="{% static '/css/updateCustomer.css' %}">
	<link rel="stylesheet" href="{% static '/css/graph.css' %}">
	
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat:wght@300;400;500;700&family=Prompt:wght@400;500&family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	{%  include 'navbar.html' %}
	
	{% block content %}
	


	{% endblock %}
	{%  include 'footer.html' %}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
<script src="{% static '/js/nav.js' %}"></script>
<script src="{% static '/js/carousel.js' %}"></script>
<script src="{% static '/js/togglefaq.js' %}"></script>


</html>